{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>꾸시꾸시 &mdash; 토끼보호소</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'neos-master/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'neos-master/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'neos-master/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'neos-master/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'neos-master/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'neos-master/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'neos-master/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'neos-master/css/animate.css' %}">    
    
    <link rel="stylesheet" href="{% static 'neos-master/fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'neos-master/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'neos-master/css/style.css' %}">
	
	<link rel="stylesheet" href="{% static 'custom/custom.css' %}">
    
  </head>
  
  <body>
  
	<!--<div id="overlayer"></div>-->
	<!--<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>-->

	<div class="site-wrap">

		<div class="site-mobile-menu">
		  <div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close mt-3">
			  <span class="icon-close2 js-menu-toggle"></span>
			</div>
		  </div>
		  <div class="site-mobile-menu-body"></div>
		</div> <!-- .site-mobile-menu -->
		
		
		<div class="site-navbar-wrap js-site-navbar bg-white">
		  
		  <div class="container">
			<div class="site-navbar bg-light">
			  <div class="row align-items-center">
				<div class="col-2">
				  <h2 class="mb-0 site-logo"><a href="{% url 'website:index' %}" class="font-weight-bold text-uppercase">KUSIKUSI</a></h2>
				  <!--<h2 class="mb-0 site-logo"><a href="{% url 'website:index' %}" class="font-weight-bold text-uppercase">
					<img src="{% static 'images/kkusikkusi_logo_sm.png' %}" style="width: 70%;"/>
				  </a></h2>-->
				</div>
				<div class="col-10">
				  <nav class="site-navigation text-right" role="navigation">
					<div class="container">
					  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

					  <ul class="site-menu js-clone-nav d-none d-lg-block">
						<li><a href="{% url 'website:index' %}">Home</a></li>
						<li class="has-children">
						  <a href="{% url 'website:intro2' %}">소개</a>
						  <ul class="dropdown arrow-top">
							<li><a href="{% url 'website:intro1' %}">토끼보호연대</a></li>
							<li><a href="{% url 'website:intro2' %}">꾸시꾸시</a></li>
							<li><a href="{% url 'website:intro3' %}">오시는 길</a></li>
							<!--<li class="has-children">
							  <a href="#">Sub Menus</a>
							  <ul class="dropdown">
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="why-choose-us.html">Why Choose Us</a></li>
							  </ul>
							</li>-->
						  </ul>
						</li>
						<!--<li><a href="{% url 'website:intro_adopt' %}">입양안내</a></li>-->
						<li class="has-children">
							<a href="{% url 'website:req_adopt' %}">입양안내</a>
							<ul class="dropdown arrow-top">
								<li><a href="{% url 'website:intro_adopt' %}">입양조건</a></li>
								<li><a href="{% url 'website:req_adopt' %}">입양신청</a></li>
							</ul>
						</li>
						<li class="has-children">
							<a href="{% url 'website:cands' %}">책임입양</a>
							<ul class="dropdown arrow-top">
								<li><a href="{% url 'website:cands' %}">토끼목록</a></li>
								<li><a href="{% url 'website:posts' %}">토끼자랑</a></li>
							</ul>
						</li>
						<!--<li><a href="#">입양완료</a></li>-->
						<li><a href="https://instagram.com/kusikusi_cafe" target="_blank">인스타 <i class="icon-instagram"></i></a></li>
						<!--<li><a href="https://cafe.naver.com/pultodong" target="_blank"><span class="d-inline-block bg-primary text-white btn btn-primary">네이버카페</span></a></li>-->
						<li class="active"><a href="https://cafe.naver.com/pultodong" target="_blank">네이버카페</a></li>
					  </ul>
					</div>
				  </nav>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		
		<div class="slant-1"></div>
		
		<div class="site-section first-section" data-aos="fade">
		  <div class="container">
		
		{% block content %}
		{% endblock %}
		  </div>
		</div>
		
		<footer class="site-footer bg-dark" style="padding: 1em 0;">
		  <div class="container">
			
			<div class="row pt-5 mt-5 text-center">
			  <div class="col-md-12">
				<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>

				
			  </div>
			  
			</div>
		  </div>
		</footer>
		
	</div> <!-- site-wrap -->
	
  <script src="{% static 'neos-master/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'neos-master/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'neos-master/js/jquery-ui.js' %}"></script>
  <script src="{% static 'neos-master/js/popper.min.js' %}"></script>
  <script src="{% static 'neos-master/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'neos-master/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'neos-master/js/jquery.stellar.min.js' %}"></script>

  <script src="{% static 'neos-master/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'neos-master/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'neos-master/js/aos.js' %}"></script>

  <script src="{% static 'neos-master/js/main.js' %}"></script>

  
  </body>
</html>