{% extends "website/base.html" %}

{% block content %}
	<div class="row mb-5">
	
		<div class="col-md-12 text-center" data-aos="fade">
			<span class="caption d-block mb-2 font-secondary font-weight-bold">토끼목록</span>
			<h2 class="site-section-heading text-uppercase text-center font-secondary">보호 중인 토끼들입니다</h2>
		</div>
		
	</div>
	
	<div  class="row border-responsive">
	
	{% for candidate in candidates %}
		<div class="col-md-6 col-lg-4 mb-5">
			<a href="{% url 'website:cand' candidate.id %}">
				<div class="media-image">
				  <img src="{{ candidate.image.url }}" alt="Image" class="img-fluid">
				  <div class="media-image-body">
					<h2 class="font-secondary text-uppercase">{{ candidate.name }}</h2>
					<span class="d-block mb-3">{{ candidate.gender }} | {{ candidate.age}} </span>
					<p>중성화 여부: {{ candidate.neutering }}</p>
					<p>보호상태: {{ candidate.adopted }} </p>
				  </div>
				</div>
			</a>
	  </div>
	  {% endfor %}
	  
	</div>
	  
	

	<div class="row">
	  <div class="col-12 text-center">
		<div class="custom-pagination">
		  <span class="current">1</span>
		  <a href="#">2</a>
		  <a href="#">3</a>
		  <a href="#">4</a>
		  <a href="#">5</a>
		  <span>...</span>
		  <a href="#">14</a>
		</div>
	  </div>
	</div>

	
{% endblock %}