{% load static %}

<html lang="en">
<head>
  <title>꾸시꾸시</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap-4.5.2-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}">
  <!-- jquery -->
  <script src="{% static 'bootstrap-4.5.2-dist/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>이름</B></td>
            <td><B>성별</B></td>
            <td><B>사진</B></td>
        </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
		<tr>
			<td> {{ candidate.name }} </td>
			<td> {{ candidate.gender }} </td>
			<td> <img src="{{candidate.image.url}}"></td>
		</tr>
		{% endfor %}
        <tbody>
    </table>
</body>