{% extends "website/base.html" %}

{% block content %}
	<div class="row mb-5">
	
	  <div class="col-md-12 text-center" data-aos="fade">
		<span class="caption d-block mb-2 font-secondary font-weight-bold">토끼보호연대</span>
		<h2 class="site-section-heading text-uppercase text-center font-secondary">입양안내</h2>
	  </div>
	  
	</div>
	
	<div class="row border-responsive">
	  <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
		<div class="text-center">
		  <span class="flaticon-open display-4 d-block mb-3 text-primary"></span>
		  <h3 class="text-uppercase h4 mb-3">오프라인 방문</h3>
		  <p>설명</p>
		</div>
	  </div>
	</div>
	
	<div class="row border-responsive">
	  <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
		<div class="text-center">
		  <span class="flaticon-money-bag-with-dollar-symbol display-4 d-block mb-3 text-primary"></span>
		  <h3 class="text-uppercase h4 mb-3">조건 숙지</h3>
		  <p>설명</p>
		</div>
	  </div>
	</div>
	
	<div class="row border-responsive">
	  <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
		<div class="text-center">
		  <span class="flaticon-line-chart display-4 d-block mb-3 text-primary"></span>
		  <h3 class="text-uppercase h4 mb-3">입양신청서 작성</h3>
		  <p>설명</p>
		</div>
	  </div>
	</div>

{% endblock %}