{% extends "website/base.html" %}

{% block content %}
	<div class="row mb-5">
	  <div class="col-md-12 text-center" data-aos="fade">
		<span class="caption d-block mb-2 font-secondary font-weight-bold">소개</span>
		<h2 class="site-section-heading text-uppercase text-center font-secondary">토끼보호연대</h2>
	  </div>
	</div>
	  
	  <div class="row border-responsive">
		<div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
			<div class="text-center">
				<p>토끼보호연대는 자유 시민들이 모여 맨몸과 무보수로 개인의 삶을 할애하여 활동하는 모임입니다.</p>
				<p>단순히 꾸시꾸시라는 입양 카페/쉼터 운영만을 목표로 하는 것이 아니라,시민 인식과 제도의 변화, 현장에서의 강력한 액션까지 포함하여반려동물, 특히 소동물 판매시장의 비윤리적이고 반생명적인 관행을 무너뜨리고 생명 존중과 동물권이 보장되는 시스템으로의 본질적인 변화를 목표로 품고 만든 시민봉사자들의 그룹입니다.</p>
			</div>
		</div>
	</div>
	
	<div class="row border-responsive">
		<div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
			<div class="text-center">
				구조활동내역
			</div>
		</div>
	</div>
	  
	

{% endblock %}