{% extends "website/base.html" %}
{% load static %}

{% block content %}
	<div class="row mb-5">
	
	  <div class="col-md-12 text-center" data-aos="fade">
		<span class="caption d-block mb-2 font-secondary font-weight-bold">꾸시꾸시소개</span>
		<h2 class="site-section-heading text-uppercase text-center font-secondary">꾸시꾸시</h2>
	  </div>
	  
	  <img src="{% static 'images/kkusikkusi1.jpg' %}" />
	  
	  <p>제목 그대로, 입양이나 임보를 최종 결정하기 전에 아이들을 직접 보고 교감을 나눠 보고 싶은 분들은 꾸시꾸시를 방문하여 만남을 가지실 수 있습니다~!!</p>
	  <p>다만, 인원이 상주하는 것이 아니라 매일같이 당번제로 다른 봉사자들이 각자 다른 시간에 돌봄을 하는 관계로, 방문 시간대를 사전에 예약해 주시면 됩니다.</p>
	  
	  <img src="{% static 'images/kkusikkusi2.jpg' %}" />
	  <img src="{% static 'images/kkusikkusi3.jpg' %}" />
	  <img src="{% static 'images/kkusikkusi4.jpg' %}" />
	  
	  <p>월요일과 화요일은 오후 중(점심 이후~6시 이전) 방문 가능하며, 수요일과 목요일은 저녁, 금~일은 그때 그때 상황에 따라 시간 조율이 필요할 것 같습니다. </p>
	  <p>언제든 편하게 카페 스탭들에게 방문 예약 및 관련 문의를 보내 주시면, 확인 후 바로 답해드리도록 하겠습니다.</p>
	  <p>꾸시꾸시는 경기도 수원시 팔달구 우만동, 수원 월드컵경기장 인근에 위치해 있으며, CCTV가 설치되어 있습니다. (유기 방지를 위함이며, 실제 유기 발생 시 법적 조치를 취합니다.)</p>
	  <p>아이들 보러 놀러 오세요~ 토끼천국입니다~~ 하하핫.</p>
	  
	</div>

{% endblock %}