{% extends "website/base.html" %}
{% load static %}

{% block content %}
	<!--<div class="row mb-5">
	  <div class="col-md-12 text-center" data-aos="fade">
		<span class="caption d-block mb-2 font-secondary font-weight-bold">꾸시꾸시소개</span>
		<h2 class="site-section-heading text-uppercase text-center font-secondary">꾸시꾸시</h2>
	  </div>
	</div>-->
	
	<div class="row border-responsive">
		<div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
			<div class="text-center">
				<img src="{% static 'images/kkusikkusi_logo.png' %}" />
			</div>
		</div>
	</div>
	
	<div  class="row border-responsive">
		<div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
			<div class="text-center">
				유기토끼의 구조와 재입양 추진에 가장 큰 목적을 둔 쉼터입니다.
				설명 좀더 길게 ..
			</div>
		</div>
	</div>
	
	<div  class="row border-responsive">
		<div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
			<div class="text-center">
				<img src="{% static 'images/kkusikkusi1.jpg' %}" />
				<img src="{% static 'images/kkusikkusi2.jpg' %}" />
				<img src="{% static 'images/kkusikkusi3.jpg' %}" />
				<img src="{% static 'images/kkusikkusi4.jpg' %}" />
			</div>
		</div>
	</div>
	
	<!-- carousel로 표현 -->
	<!--<div  class="row border-responsive">
		<div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
			<div class="text-center">
				<img src="{% static 'images/kkusikkusi1.jpg' %}" />
				<img src="{% static 'images/kkusikkusi2.jpg' %}" />
				<img src="{% static 'images/kkusikkusi3.jpg' %}" />
				<img src="{% static 'images/kkusikkusi4.jpg' %}" />
			</div>
		</div>
	</div>-->
	
	

{% endblock %}