{% extends "website/base.html" %}

{% block content %}
	<div class="row mb-5">
	  <div class="col-md-12 text-center" data-aos="fade">
		<span class="caption d-block mb-2 font-secondary font-weight-bold">꼼꼼이 읽어주세요</span>
		<h2 class="site-section-heading text-uppercase text-center font-secondary">입양조건</h2>
	  </div>
	</div>
	
	<div class="row border-responsive word-keep">
	  <div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
		<div class="text-center">
		  <span class="flaticon-open display-4 d-block mb-3 text-primary"></span>
		  <!--<h3 class="text-uppercase h4 mb-3">입양 조건</h3>-->
		  <p>1. 입양계약서를 작성합니다.</p>
		  <p>2. 입양 시 가정 방문에 동의해 주셔야 합니다.</p>
		  <p>3. 입양 후 7일 내에 <a href="http://cafe.naver.com/pultodong" target="_blank">카페</a>에 입양 후기를 작성하며,입양 후 6개월동안, 매월 1회 이상 카페에 아이의 소식을 게시해 주세요.(내용이나 길이, 형식 등에 정해진 틀 없음. 완전 자유)</p>
		  <p>4. 사람과 같은 실내 공간에서 지내도록 해 주세요.(베란다, 옥상, 마당, 케이지, 뜬장 등 절대 불가)</p>
		  <p>5. 토끼의 특성에 맞는 먹이, 환경, 진료 등을 제공해주세요.</p>
		  <p>6. 입양된 토끼는 반려동물 외 다른 목적으로 이용하지 않습니다.(체험학습, 전시, 영리추구, 가축 등 절대 불가)</p>
		  <p>7. 부득이한 사정으로 키우지 못하게 될 경우, 반드시 연락을 주세요.</p>
		  <p>8. 입양 후 학대, 방치, 유기 혹은 입양 추진자에게 고지하지 않은 재입양이 확인될 시, 민·형사상의 책임을 묻습니다.</p>
		</div>
	  </div>
	</div>
	
	<div class="row border-responsive word-keep">
	  <div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
		<div class="text-center">
		  <span class="flaticon-money-bag-with-dollar-symbol display-4 d-block mb-3 text-primary"></span>
		  <!--<h3 class="text-uppercase h4 mb-3">조건 숙지</h3>-->
		  <p>9. 입양 기부금 5만원은 유기토끼의 구조, 중성화, 치료, 돌봄 등 입양 추진에 쓰이며, 파양이나 입양 철회시 반환되지 않습니다.</p>
		  <p>10. 중성화 비용 암토끼 - 15만원 / 수토끼 - 10만원은 입양자가 부담합니다.
		  (2마리 동반 입양 시, 기부금은 각각 적용되며 중성화 분담금은 한 아이(암토 기준 15만원)에 한해서 적용합니다.
		  3마리 입양 시, 마찬가지로 기부금은 각각 적용하며 중성화 분담금은 25만원으로 책정합니다.)</p>
		  <p>11. 중성화 이전 어린 토끼의 경우, 중성화 예치금으로 20만원을 수령하고, 추후 중성화 사실이 증명되면 전액 반환합니다.</p>
		</div>
	  </div>
	</div>
	
	<div class="row border-responsive word-keep">
	  <div class="col-md-12 col-lg-12 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
		<div class="text-center">
		  <span class="flaticon-line-chart display-4 d-block mb-3 text-primary"></span>
		  <!--<h3 class="text-uppercase h4 mb-3">입양신청서 작성</h3>-->
		  <p>* 군 면제가 아닌 미필 남성, 결혼 혹은 출산을 앞둔 신혼부부,출장과 여행 등이 잦은 싱글, 유학이나 이민 등 거주 계획이 불투명한 경우, 부모님과 가족 전원의 동의를 얻지 못한 미성년자,경제력이 없는 분께는 입양을 보낼 수 없습니다.</p>
		  <p>* 결혼을 앞둔 분들이나 미성년자의 경우, 상황에 따라 더 자세한 대화를 거쳐 입양 진행이 가능할 수 있습니다.</p>
		  <p>* 반려 이외 다른 목적을 가지고 속여서 데려갈 시, 반드시 법적, 사회적 책임을 묻습니다.</p>
		  <p>이외 문의는 <a href="http://cafe.naver.com/pultodong" target="_blank">카페</a> 통해 해 주시면 됩니다.</p>
		</div>
	  </div>
	</div>

{% endblock %}