{% extends "website/base.html" %}

{% block content %}
<section class="ftco-section-2">
	<div class="photograhy">
		<div class="row no-gutters">
			{% for candidate in candidates %}
				<div class="col-md-4 ">
					<a href="{% url 'website:cand' candidate.id %}" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url({{candidate.image.url}});">
						<div class="overlay"></div>
						<div class="text text-center">
							<h3>{{ candidate.name }}</h3>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}